:root{

    --gray:#6B7280;

    --cor-principal:#0051ff;

    --cor-secundaria:#eeff00;

    --cor-terceira:#ffffff;

    --cor-quarta:#090081;

    --radius:16px;

    --shadow:0 10px 40px rgba(0,0,0,.10);

}